$background: #111111;
$background-alt: #3d3934;
$foreground: #fffefc;
$primary: #74a12e;
$secondary: #fcf4a3;
$alert: #bb544a;
$disabled: #4d4c5d;

* {
    all: unset;
    font-family: feather, Iosevka Comfy Duo;
}

.bar {
    background-color: $background;
    color: $foreground;
}

.cal {
    background-color: $background;
    color: $foreground;
}
calender {
    color: $foreground;
}
calendar:selected {
    color: $alert;
    font-weight: bold;
}
calendar.header {
    color: $foreground;
    font-weight: bold;
}
calendar.button {
    color: $alert;
}
calendar.highlight {
    color: $foreground;
    font-weight: bold;
}
calendar:indeterminate {
    color: $disabled;
}

.music {
    min-width: 150px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 15;
}
.music label {
    font-family: feather, Iosevka Comfy Duo;
}

.metric scale trough highlight {
    all: unset;
    background-color: $primary;
    color: $background-alt;
    border-radius: 10px;
}
.metric scale trough {
    all: unset;
    background-color: $foreground;
    border-radius: 50px;
    min-height: 3px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.metric scale:hover trough {
    background-color: $alert;
}

.timestuff {
    all: unset;
    font-size: 15;
}

.workspaces {
    all: unset;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 13;
}
.workspaces button {
    padding: 0px 10px 0px 6px;
    color: $disabled;
}
.workspaces button.disabled-workspace {
    color: $disabled;
}
.workspaces button.active-workspace {
    background-color: $background-alt;
    color: $foreground;
    border-bottom: 1px solid $primary;
}
.workspaces button:hover {
    background-color: $background-alt;
    color: $foreground;
    border-bottom: 1px solid $alert;
}
