auto-save-list/
backups/
bookmarks
.cache/
detached/
eln-cache/
eshell/
.extension/
forge-database*
garbage.el
.lsp-session*
projects
recentf
savehist
request/
straight/
tramp
transient/
tree-sitter/
triples.db
undo-fu-session/
url/
wombag/
debug-adapters/
tmp/
saveplace